/* Custom style sheet for the moin2tiki markdown documentation */

table
{
    margin: 0.5em 0 0 0.5em;
    border-collapse: collapse;
    width: max-content; /* https://wiki.selfhtml.org/wiki/CSS/Eigenschaften/width */
}

th, td
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    border: 1px solid tan;
}

td p {
    margin: 0;
    padding: 0;
}

code {
    background-color: #EEEEEE;
    font-weight: bold;
}

.variable {
    background-color: #EEEEEE;
}
